/* Header */
.header {
	padding: 40px 0;
	min-height: 695px;

	display: flex;
	justify-content: center;
	align-items: center;


	color: var(--header-text);
	text-align: center;


	background-image: url('/src/img/images.png');

	animation: changeColor 5s infinite alternate;
	background-repeat: repeat;
	background-size: auto;
	animation: animatedBackground 120s linear infinite;
	-moz-animation: animatedBackground 120s linear infinite;
	-webkit-animation: animatedBackground 120s linear infinite;
 	-o-animation: animatedBackground 120s linear infinite;

}

@keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 600px 
    }
}
/* Mozilla Firefox 5.0+ */
@-moz-keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 600px
    }
}
/* Safari 4.0+, Chrome 4.0+ */
@-webkit-keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 600px
    }
}
/* Opera 12.0+ */
@-o-keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 600px
    }
}

/*---*/
.header__wrapper {
	padding: 0 15px;
	max-width: 660px;
}

.header__title {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
}

.header__title strong {
	font-size: 60px;
	font-weight: 700;
}

.header__title em {
	font-style: normal;
	color: #ffc416;
}

.header__text {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 1.333;
}

.header__text p + p {
	margin-top: 0.5em;
}